[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
gevent = "*"
abodepy = "*"
pyparticleio = "*"
homeassistant-api = "*"

[requires]
python_version = "3"
